@page
@model IndexModel
@{
    ViewData["Title"] = "Stock";
}

@section Styles {
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/fixedHeader.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/icheck.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/custom.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/checkboxes-radios.css">


<style>
    .dataTables_scrollBody {
        overflow-x: hidden;
    }
</style>
}

<section id="stock">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Artigos</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <table id="tableFinish" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>Descrição</th>
                                    <th>Familia</th>
                                    <th>Quantidade</th>
                                    <th>Unidade</th>
                                    <th>PL</th>
                                    <th>PVP</th>
                                    <th>Comandos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TM172PDG42R</td>
                                    <td>Autómato Ethernet 42P</td>
                                    <td>Autómatos</td>
                                    <td style="text-align: center;">5</td>
                                    <td style="text-align: center;">Uni</td>
                                    <td style="text-align: center;">222.61€</td>
                                    <td style="text-align: center;">349.90€</td>
                                    <td>
                                        <a class="btn btn-icon btn-info mr-1 mb-1 waves-effect waves-light" href="/Asset/Detail?id=" data-toggle="tooltip" data-placement="top" title="Detalhes"><i class="la la-info-circle" style="color: white;"></i></a>

                                        <a class="btn btn-icon btn-warning mr-1 mb-1 waves-effect waves-light" href="/Asset/Edit?id=" data-toggle="tooltip" data-placement="top" title="Editar"><i class="la la-edit" style="color: white;"></i></a>

                                        <a class="btn btn-icon btn-danger mr-1 mb-1 waves-effect waves-light btnDeleteAsset" data-id="" data-toggle="tooltip" data-placement="top" title="Eliminar"><i style="color: white;" class="la la-close"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade text-left" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Adicionar Produto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Reference</label>
                                <input asp-for="CreateProduct.Reference" type="text" class="form-control input-lg" placeholder="Referencia" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Familia</label>
                                <select class="seclect2 form-control" asp-items="@Model.IdFamilies" asp-for="CreateProduct.IdFamily"> </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Descricao</label>
                                <input asp-for="CreateProduct.Description" type="text" class="form-control input-lg" placeholder="Descricao" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Unidade</label>
                                <select class="seclect2 form-control" asp-items="@Model.IdUnits" asp-for="CreateProduct.IdUnit"> </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Tipo de producto</label>
                                <select class="seclect2 form-control" asp-items="@Model.IdTypeProducts" asp-for="CreateProduct.IdTypeProduct"> </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Codigo de Barras</label>
                                <input asp-for="CreateProduct.Barcode" type="text" class="form-control input-lg" placeholder="Codigo de Barras" />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Controlo de Stock</label>
                                @*<input asp-for="CreateProduct.StockControl" type="text" class="form-control input-lg" placeholder="Contacto Comercial" />*@
                                <input asp-for="CreateProduct.StockControl" type="checkbox" class="form-control" id="input-15">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Alerta de Stock</label>
                                <input asp-for="CreateProduct.StockAlert" type="text" class="form-control input-lg" placeholder="alerma" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Sales</label>
                                <input asp-for="CreateProduct.Sale" type="text" class="form-control input-lg" placeholder="Sales" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Tax</label>
                                <select class="seclect2 form-control" asp-items="@Model.IdTax" asp-for="CreateProduct.IdTax"> </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Compras</label>
                                <input asp-for="CreateProduct.Purchase" type="text" class="form-control input-lg" placeholder="Compras" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="nomeCampo">Fornecedores</label>
                                <select class="seclect2 form-control" asp-items="@Model.IdSuppliers" asp-for="CreateProduct.IdSuppliers"> </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Fechar">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="buy-now">
    <a class="btn btn-info btn-glow round px-2" data-toggle="modal" data-target="#createProductModal" style="color: white;">Adicionar Artigo</a>
</div>

@section Scripts {

<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
<script src="~/app-assets/vendors/js/tables/buttons.colVis.min.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.colReorder.min.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.fixedHeader.min.js"></script>
<script src="~/app-assets/js/scripts/pages/material-app.js"></script>
<script src="~/app-assets/js/scripts/forms/checkbox-radio.js"></script>

<script>

    $(document).ready(function() {
        var data = [];

        @foreach (var d in Model.Products)
       {
        @:data.push(["@d.Reference", "@d.Description", "@d.NameFamily", "@d.Quantity", "@d.Unit", "@d.Pl", "@d.Pvp", "<a class=\"btn btn-icon btn-info mr-1 mb-1 waves-effect waves-light\" href=\"/Asset/Detail?id=@d.Reference\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Detalhes\"><i class=\"la la-info-circle\" style=\"color: white;\"></i></a>     <a class=\"btn btn-icon btn-warning mr-1 mb-1 waves-effect waves-light btnEditSupplier\" data-nif=\"@d.Reference\" data-toggle=\"modal\" data-target=\"#editSupplierModal\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Editar\"><i class=\"la la-edit\" style=\"color: white;\"></i></a> <a class=\"btn btn-icon btn-danger mr-1 mb-1 waves-effect waves-light btnDeleteSupplier\" data-nif=\"@d.Reference\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Eliminar\"><i style=\"color: white;\" class=\"la la-close\"></i></a> "]);
       }

        $('#tableFinish').DataTable({
            data:           data,
            deferRender:    true,
            scrollY:        550,
            scrollCollapse: true,
            scroller: true
        });
    });
    // conflict
    $(document).on('click',
        '.btnDeleteAsset',
        function (e) {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Não poderá reverter isso!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, eliminar!',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.value) {
                    const id = $(this).attr('data-id');
                    window.location.href = '/AssetFinished?id=' + id + '&handler=Delete';
                }
            });
        });

    var element = document.getElementById("finalizados");
    element.classList.add("active");
</script>
}